
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" ></script>

<div style="">
<div style="width: 400px;margin:0 auto;">
    <form action="/user/login" method="POST">
        <div class="container">

            <label><b>用户名</b></label>
            <input type="text" placeholder="Enter Username" name="userName" required>

            <label><b>密码</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <p>没有账号，请先去<a  href="/user/register" >注册</a></p>
            <p>默认账号：admin,密码：123456</p>
            <button type="submit">登录</button>

        </div>
    </form>
</div>
</div>
